/* button open */
.button-modal.btn {
  background-color: #B91919;
  border: none;
  margin: 2rem;
  padding: 0.5rem 2rem;

}

.button-modal.btn:hover {
  background-color: #811111;
}

/* button close*/
.button-close.btn {
  background-color: gray;
  border: none;
}

.button-close.btn:hover {
  background-color: #4c4c4c;
}

/* wide modal */
.modal.show .modal-dialog {
  max-width: 800px;
  width: 90%;
  margin: auto;
}


/* modal */
.modal .modal-content {
  background-color: #212529;
  color: white;
  box-sizing: border-box;
}

/* Ligne */
.modal .modal-header {
  border-bottom: 1px solid #383D43;
}

.modal .modal-footer {
  border-top: 1px solid #383D43;
}


/* avatar left infos right */
.profile-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 40px 20px;
}

/* Avatar */
.profile-avatar {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
}


/* Infos */
.profile {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.profile svg {
  margin: 5px 5px 5px 0;
}

/* Bottom border line */
.profile p:not(:last-child)::after {
  content: "";
  display: block;
  width: 105%;
  height: 1px;
  background-color: #383D43;
  margin: 5px -5% 0 -5%;
}



/* Mobile */
@media (max-width: 768px) {
  .modal.show .modal-dialog {
    width: 85%;
    max-width: none;
    margin: 5px auto;
  }

  .modal .modal-content {
    padding: 5px;
  }

  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    width: 100%;
    min-width: auto;
  }

  .profile-avatar {
    width: 250px;
    height: 250px;
  }

  .profile p:not(:last-child)::after {
    width: calc(100% + 0px);
    margin: 5px -10px 0 -10px;

  }

  .profile p {
    margin-bottom: 5px;  }
}