.button-modal.btn{
    background-color: #B91919 ;
    border: none;
    margin: 2rem;
    padding: 0.5rem 2rem;
    
}

.button-modal.btn:hover{
    background-color: #811111;
}

.button-close.btn{
    background-color: gray;
    border: none;
}

.button-close.btn:hover{
    background-color: #4c4c4c;
}

.modal .modal-content{
    background-color: #212529;
    color: white;
    
}
