.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.my-card {
    flex: 1 1 calc((100% / 3) - 13.33px);
    max-width: 300px;
    min-width: 250px;
    text-align: center;
    /* padding: 20px; */
    border-radius: 10px;
}


/* Bootstrap*/
.my-card svg {
    width: 3rem;
    height: 2rem;
    margin-bottom: 1rem;
    color: #007bff;
}

/* Mobile */
@media (max-width: 768px) {
    .my-card {
        flex: 1 1 100%;
        max-width: 95%;
    }

    .my-card svg{
        margin-bottom: 2rem;
    }
}