* { /* Reset CSS */
    margin: 0;
    padding: 0;
}



body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
}

h1, h2, h3 ,h4 ,h5, h6{
  font-weight: 600;
}

strong {
  font-weight: 600;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}
