.page-legales {
  max-width: 900px;
  margin: 0 auto; /* centre le bloc */
  padding: 50px 20px;
}

.legales-titre {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
}

.legales-titre::after {
  content: "";
  display: block;
  width: 60%;
  max-width: 400px;
  height: 6px;
  background-color: #0d6efd;
  margin: 30px auto 0 auto;
}


@media (max-width: 768px) {
    .legales-titre::after{
        max-width: 25%;
    }
}
