/* Inputs  textarea */
.contact-form input,
.contact-form textarea {
  width: 100%;
  font-size: 16px;
  padding: 12px 15px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  margin: 2px;

}

.contact-form textarea {
  width: 100%;       
  max-width: 100%;    
  min-width: auto;    
  min-height: 250px;  
  resize: vertical;   
  box-sizing: border-box; 
}


/* Button */
.contact-form button:hover {
  background-color: #0056b3;
}

/*mobile*/
@media (max-width: 768px) {
  .contact-form textarea {
    width: 100%;
    min-width: auto;
    max-width: 100%;
  }
}