
/* Main container */

.navbar .container-fluid {
    display: flex ;
    justify-content: space-between ; /* brand left, link right */
    align-items: center ;
}

/* Brand */
.navbar-brand {
    margin: 0; /* <p> default margin  */
}

/* Links container */
.navbar-nav {
    display: flex ;        
    margin-left: auto ;    /* Right */
    gap: 1rem;             /* space */
    
}

/* Link */
.nav-link {
    text-decoration: none;
    color: white !important; /*  Color navlinks */
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    font-weight: 700;
    text-decoration: underline;
}


