/* main padding*/
.footer { 
  padding-top: 20px;
}


/* inside container*/
.footer-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-column {
  flex: 1;
  min-width: 250px;
}

/* footer list */
.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* footer links*/
.footer a{
  text-decoration: none;
  color: white;
}

.footer a:hover{
  font-weight: bold;
}


/*SVG icons*/
.footer svg{
  color: #495057;
}

.footer svg:hover{
  color: white;
}